body {
  background-color: aliceblue
}

h1 { 
  color: grey;
  text-align: center;
  font: "Times New Roman";
}

h2 {
  color: grey;
  text-align: center;
  font: "Times New Roman"
}

p { 
  color: mediumseagreen;
  text-align: center;
  font: "Times New Roman";
  border-style: dashed;
  border-color: black;
}
  
  
  
 
  

