body {
  background-color: aliceblue
  border-style: solid;
  border-color: black;
}

h1 { 
  color: grey;
  text-align: center;
  font: "Times New Roman";
}

h2 {
  color: grey;
  text-align: center;
  font: "Times New Roman"
}

p { 
  color: mediumseagreen;
  text-align: center;
  font: "Times New Roman";
}
  
  
  
 
  

