body {
  background-color: aliceblue
}

h1 { 
  color: grey;
  text-align: center;
  font: "Times New Roman";
}

p { 
  color: light grey;
  text-align: center;
  font: "Times New Roman";
}
  
  
  
 
  

